<template x-if="initData.uxMode === 'petition'">
  <div class="ipetometer" x-intersect.once="startAnimation">
    <span
      class="ipetometer__bignum"
      x-text="ometer.animatedCount.toLocaleString()"
    ></span>
    <span class="ipetometer__words" x-text="'Signatures'"></span>
    <span class="ipetometer__target" x-text="'Target ' + target"></span>
    <div class="ipetometer__domain">
      <div
        class="ipetometer__bar"
        style="height: 1em"
        :style="ometer.style"
      ></div>
    </div>
    <div class="ipetometer__last-signer" x-text="lastSigner"></div>
  </div>
</template>

<form
  action="#"
  @submit.prevent="submitForm"
  x-show="stage === 'form'"
  x-id="['first_name', 'last_name', 'email', 'optin-yes', 'optin-no', 'optin-cb']"
>
  <template x-if="initData.introHTML">
    <div
      class="ipet-intro"
      x-html="initData.introHTML"
      x-show="stage === 'form'"
      x-transition
    ></div>
  </template>

  <template x-if="initData.imageUrl">
    <div class="ipet-image">
      <img :alt="initData.imageAlt" :src="initData.imageUrl" />
    </div>
  </template>

  <p x-show="cs && ctID" x-transition>
    👋 We’ve loaded your data.
    <a
      href
      @click.prevent="removePrefillData"
      x-text="'Not ' + userData.first_name + ' ' + userData.last_name + '?'"
    ></a>
  </p>

  <div class="ipet-2-cols">
    <div class="ipet-input-wrapper">
      <label :for="$id('first_name')">First name</label>
      <input
        required
        type="text"
        :id="$id('first_name')"
        :disabled="submissionRunning"
        name="first_name"
        x-model="userData.first_name"
        autocomplete="given-name"
      />
    </div>
    <div class="ipet-input-wrapper">
      <label :for="$id('last_name')">Last name</label>
      <input
        required
        type="text"
        :id="$id('last_name')"
        :disabled="submissionRunning"
        name="last_name"
        x-model="userData.last_name"
        autocomplete="family-name"
      />
    </div>
  </div>

  <div class="ipet-input-wrapper">
    <label :for="$id('email')">Email</label>
    <input
      required
      type="email"
      :id="$id('email')"
      :disabled="submissionRunning"
      name="email"
      x-model="userData.email"
      autocomplete="email"
    />
  </div>

  <template x-if="initData.emailConfirmation == 'repeat'">
    <div class="ipet-input-wrapper">
      <label :for="$id('email')"
        >Email again <small>(This helps avoid typing mistakes.)</small></label
      >
      <input
        required
        type="email"
        :id="$id('email2')"
        :disabled="submissionRunning"
        :pattern="userData.email.replaceAll(/([.+*])/g, '[$1]')"
        title="Must match the email above. This helps to prevent typos."
        name="email2"
        x-model="userData.email2"
        autocomplete="email"
      />
    </div>
  </template>

  <template x-if="initData.askPostcode != 'no'">
    <div class="ipet-input-wrapper">
      <label
        :for="$id('postcode')"
        x-text="(initData.askPostcode === 'uk') ? 'UK Postcode' : 'Postal code'"
      ></label>
      <input
        required
        type="text"
        :id="$id('postcode')"
        :disabled="submissionRunning"
        name="postcode"
        x-model.lazy="userData.postcode"
        autocomplete="postal-code"
        x-ref="postcode"
        @blur="validatePostcode"
      />
    </div>
  </template>

  <template x-if="initData.preOptinHTML && !ctID" x-transition>
    <div class="ipet-preoptin" x-html="initData.preOptinHTML"></div>
  </template>

  <template x-if="initData.optinMode === 'radios' && !ctID" x-transition>
    <div class="ipet-optins">
      <div class="option">
        <input
          type="radio"
          name="optin"
          required
          :id="$id('optin-yes')"
          value="yes"
          x-model="userData.optin"
        />
        <label :for="$id('optin-yes')" x-text="initData.optinYesText"></label>
      </div>
      <div class="option">
        <input
          type="radio"
          name="optin"
          required
          :id="$id('optin-no')"
          value="no"
          x-model="userData.optin"
        />
        <label :for="$id('optin-no')" x-text="initData.optinNoText"></label>
      </div>
    </div>
  </template>

  <template x-if="initData.optinMode === 'checkbox' && !ctID" x-transition>
    <div class="ipet-optins">
      <div class="option">
        <input
          type="checkbox"
          name="optin"
          required
          :id="$id('optin-cb')"
          value="yes"
          x-model="userData.optin"
        />
        <label :for="$id('optin-cb')" x-text="initData.optinYesText"></label>
      </div>
    </div>
  </template>

  <template x-if="initData.smallprintHTML">
    <div class="ipet-smallprint" x-html="initData.smallprintHTML"></div>
  </template>

  <div class="ipet-submit">
    <button
      :disabled="submissionRunning"
      class="submit"
      x-text="submissionRunning ? 'Please wait..' : initData.submitButtonText "
    ></button>

    <inlay-progress x-ref="progress"></inlay-progress>
  </div>
</form>

<div x-show="stage === 'social'">
  <div x-html="initData.shareAskHTML"></div>

  <inlay-socials
    :socials="initData.socials"
    :bluesky-text="initData.blueskyText"
    :email-subject="initData.shareEmailSubject"
    :linkedin-text="initData.linkedInText"
    :mastodon-text="initData.mastodonText"
    :share-text="initData.shareText"
    :threads-text="initData.threadsText"
    :tweet="initData.tweet"
    :whatsapp-text="initData.whatsappText"
    with-style
    icons="1"
    @clicked="clickedSocial"
  ></inlay-socials>

  <p x-show="initData.followupUx === 'shareThanks'">
    <a href @click.prevent="skippedSocial">Skip</a>
  </p>
</div>

<div x-show="stage === 'final'">
  <div x-html="initData.finalHTML"></div>
  <p x-show="initData.followupUx === 'thanksShare'">
    <a href @click.prevent="changeStage('social')">I’ll share this petition</a>
  </p>
  <p x-show="initData.followupUx === 'shareThanks'">
    <br />
    <a href @click.prevent="changeStage('social')">← Back to Share buttons</a>
  </p>
</div>
