<div class="crm-container">
  <h1 crm-page-title>Configure Petition</h1>

  <form name="inlayForm" crm-ui-id-scope>
    <div crm-ui-accordion="{title: ts('Titles'), collapsed: false}">
      <div
        crm-ui-field="{name: 'inlayForm.name', title: ts('Name'), help: hs('inlay_name')}"
      >
        <input
          crm-ui-id="inlayForm.name"
          name="name"
          ng-model="inlay.name"
          class="crm-form-text"
          style="width: 100%;"
          placeholder="{{ts('e.g. 2020-11 Biden/NHS')}}"
          width="100%"
        />
        <p>
          This is an internal name. It is used as the subject for the activity
          added when someone signs. It should uniquely identify this petition.
        </p>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.publicTitle', title: ts('Public Title')}"
      >
        <input
          crm-ui-id="inlayForm.publicTitle"
          name="publicTitle"
          type="text"
          ng-model="inlay.config.publicTitle"
          class="crm-form-text"
          style="width: 100%;"
          placeholder="{{ts('e.g. Stop Biden Trumping our NHS')}}"
        />
        <p>
          This will be displayed at the top of the inlay throughout the user’s
          interaction.
        </p>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.isPageTitle', title: ts('Use as page title')}"
      >
        <input
          crm-ui-id="inlayForm.isPageTitle"
          type="checkbox"
          name="isPageTitle"
          ng-model="inlay.config.isPageTitle"
          class="crm-form-checkbox"
        />
        <br />
        <p class="description">
          If this petition is the first thing on a page, and there are no other
          headings above it, selecting this option will make the title the
          Heading 1 title for the page.
        </p>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.uxMode', title: ts('Operation mode')}"
      >
        <select
          crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
          ng-model="inlay.config.uxMode"
          name="uxMode"
        >
          <option value="petition">Petition</option>
          <option value="signup">Signup</option>
        </select>
      </div>

      <div class="help" ng-show="inlay.config.uxMode === 'petition'">
        Petitions provide a form that shows a count of the number of signers.
        When somebody submits the form it will add a "Signed Petition (Inlay)",
        with the name of this petition in the subject. It won't add an activity
        if somebody has already done this petition.
      </div>
      <div class="help" ng-show="inlay.config.uxMode === 'signup'">
        Signup forms can be used to add people to a group.
      </div>

      <div crm-ui-field="{name: 'inlayForm.uiLayout', title: ts('Layout')}">
        <select
          crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
          ng-model="inlay.config.uiLayout"
          name="uiLayout"
          style="width: 100%"
        >
          <option value="layout-single-column">Single column - compact.</option>
          <option value="layout-two-column-a">Two column</option>
          <option value="custom">Custom</option>
        </select>
        <p class=description>Custom layouts: place the HTML for the layout in <code>[civicrm.files]/inlaypetition/layout-{{inlay.id}}.html</code></p>
      </div>
    </div>

    <div crm-ui-accordion="{title: ts('Main form'), collapsed: true}">
      <div
        crm-ui-field="{name: 'inlayForm.introHTML', title: ts('Intro text before the form fields.')}"
      >
        <textarea
          crm-ui-id="inlayForm.introHTML"
          crm-ui-richtext
          name="introHTML"
          ng-model="inlay.config.introHTML"
          class="crm-form-text"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.askPostcode', title: ts('Ask for postcode?')}"
      >
        <select
          crm-ui-select="{allowClear:false, dropdownAutoWidth: true}"
          ng-model="inlay.config.askPostcode"
          name="askPostcode"
          style="width: 100%"
        >
          <option value="no">No</option>
          <option value="uk"
            >Yes, accept only valid UK postcode (technically also accepts
            N/A)</option
          >
          <option value="other">Yes, accept anything</option>
          >
        </select>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.emailConfirmation', title: ts('Email confirmation')}"
      >
        <select
          crm-ui-select="{allowClear:false, dropdownAutoWidth: true}"
          ng-model="inlay.config.emailConfirmation"
          name="emailConfirmation"
          style="width: 100%"
        >
          <option value="none">Just a single email field.</option>
          <option value="repeat">Require them to enter email twice</option>
          >
        </select>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.preOptinHTML', title: ts('Optional text before the opt-in options.')}"
      >
        <textarea
          crm-ui-id="inlayForm.preOptinHTML"
          crm-ui-richtext
          name="preOptinHTML"
          ng-model="inlay.config.preOptinHTML"
          class="crm-form-text"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.optinMode', title: ts('Opt-in mode')}"
      >
        <select
          crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
          ng-model="inlay.config.optinMode"
          name="optinMode"
        >
          <option value="radios">Radios</option>
          <option value="checkbox">Single Checkbox</option>
          <option value="none"
            >None (e.g. if using the form as a sign up form only)</option
          >
        </select>
      </div>

      <div
        ng-show="inlay.config.optinMode !== 'none'"
        crm-ui-field="{name: 'inlayForm.optinYes',
          title: ts( (inlay.config.optinMode === 'radios') ? 'Text for YES option' : 'Text for checkbox (checked means Yes, opt-in)')}"
      >
        <input
          crm-ui-id="inlayForm.optinYesText"
          name="sTextubmitButtonText"
          ng-model="inlay.config.optinYesText"
          class="crm-form-text"
          style="width: 100%"
          placeholder="{{ts('e.g. Add me to your newsletter')}}"
        />
      </div>

      <div
        ng-show="inlay.config.optinMode === 'radios'"
        crm-ui-field="{name: 'inlayForm.optinNo', title: ts('Text for NO option')}"
      >
        <input
          crm-ui-id="inlayForm.optinNoText"
          name="sTextubmitButtonText"
          ng-model="inlay.config.optinNoText"
          class="crm-form-text"
          style="width: 100%"
          placeholder="{{ts('e.g. I’m fine as I am, thanks')}}"
        />
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.smallprintHTML', title: ts('Optional text between opt-in options and submit button.')}"
      >
        <textarea
          crm-ui-id="inlayForm.smallprintHTML"
          crm-ui-richtext
          name="smallprintHTML"
          ng-model="inlay.config.smallprintHTML"
          class="crm-form-text"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.submitButtonText', title: ts('submit button text')}"
      >
        <input
          crm-ui-id="inlayForm.submitButtonText"
          name="submitButtonText"
          ng-model="inlay.config.submitButtonText"
          class="crm-form-text"
          type="text"
          placeholder="{{ts('e.g. Sign up')}}"
        />
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.followupUx', title: ts('What next?')}"
      >
        <select
          crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
          ng-model="inlay.config.followupUx"
          name="followupUx"
          style="width: 100%"
        >
          <option value="shareThanks">Social Share, then on to Thanks</option>
          <option value="thanksShare"
            >Thanks message, with skip link to end with Social Share</option
          >
          <option value="thanks">Thanks message only</option>
        </select>
      </div>

      <div class="ng-isolate-scope crm-section">
        <div class="label"><label>Image</label></div>
        <div class="content">
          <img
            ng-if="image"
            style="float:right; margin-left: 1rem;max-width:17ch;height: auto;"
            src="{{image.url}}"
          />

          <label for="imageFileUploadInput">Upload image</label><br />
          <input
            id="imageFileUploadInput"
            class="crm-form-text"
            type="file"
            accept=".jpg,.jpeg,.png,.svg,.gif,image/jpeg,image/png,image/gif"
            onchange="angular.element(this).scope().uploadNewImageChanged(this)"
          />
          <br />
          <br />
          <!-- should auto-upload now.
         <button ng-click="uploadNewImage($event)" class="ng-scope">
            Upload image now
          </button>
          -->
          <button
            ng-click="removeImage($event)"
            class="ng-scope"
            ng-disabled="!image"
          >
            Delete Image
          </button>
          <br />
          <br />
          <label crm-ui-for="image_alt"
            >Accessibility text (for those who can't see the image)</label
          ><br />
          <input
            crm-ui-id="image_alt"
            type="text"
            name="template_image_alt"
            ng-model="inlay.config.imageAlt"
            class="crm-form-text"
            style="width: 100%"
          />
        </div>
        <div class="clear"></div>
        <!-- yuk -->
      </div>
    </div>

    <div crm-ui-accordion="{title: ts('Social Share view'), collapsed: true}">
      <div
        crm-ui-field="{name: 'inlayForm.shareAskHTML', title: ts('Social Share ask')}"
      >
        <textarea
          crm-ui-id="inlayForm.shareAskHTML"
          crm-ui-richtext
          name="shareAskHTML"
          ng-model="inlay.config.shareAskHTML"
          class="crm-form-text"
        ></textarea>
        <p>
          This text needs to thank them for having signed the petition, and ask
          them to share on social media, if you include those options below. If
          you don’t then this will be the last page of the UX.
        </p>
      </div>

      <h3>Social Media</h3>
      <ul>
        <li ng-repeat="(i, sm) in smShares">
          <input
            type="checkbox"
            name="{{sm.name}}"
            id="{{'share-' + sm.name}}"
            ng-model="smShares[i].active"
          />
          <label for="{{'share-' + sm.name}}"
            >{{ts('Share on %1', {'1': sm.label})}}</label
          >
          <a
            href
            ng-click="smShares.splice(i-1,0, smShares.splice(i,1)[0])"
            ng-show="i>0"
            >↑</a
          >
          <a
            href
            ng-show="i<smShares.length -1"
            ng-click="smShares.splice(i+1, 0, smShares.splice(i,1)[0])"
            >↓</a
          >
        </li>
      </ul>

      <div
        crm-ui-field="{name: 'inlayForm.shareText', title: ts('Default suggested share text')}"
        ng-show="smActive('twitter')"
      >
        <textarea
          crm-ui-id="inlayForm.shareText"
          name="shareText"
          ng-model="inlay.config.shareText"
          class="crm-form-text"
          placeholder="{{ts('e.g. Hey everybody, do what I did.')}}"
        ></textarea>
        <p>This text may be used if you don’t supply more specific texts below.</p>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.tweet', title: ts('Suggested tweet')}"
        ng-show="smActive('twitter')"
      >
        <textarea
          crm-ui-id="inlayForm.tweet"
          name="tweet"
          ng-model="inlay.config.tweet"
          class="crm-form-text"
          placeholder="{{ts('e.g. Hey everybody, do what I did.')}}"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.whatsappText', title: ts('Suggested WhatsApp text')}"
        ng-show="smActive('whatsapp')"
      >
        <textarea
          crm-ui-id="inlayForm.whatsappText"
          name="whatsappText"
          ng-model="inlay.config.whatsappText"
          class="crm-form-text"
          placeholder="{{ts('e.g. Hey everybody, do what I did.')}}"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.blueskyText', title: ts('Suggested Bluesky Text')}"
        ng-show="smActive('bluesky')"
      >
        <textarea
          crm-ui-id="inlayForm.blueskyText"
          name="blueskyText"
          ng-model="inlay.config.blueskyText"
          class="crm-form-text"
          placeholder="{{ts('e.g. Hey everybody, do what I did.')}}"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.threadsText', title: ts('Suggested Threads Text')}"
        ng-show="smActive('threads')"
      >
        <textarea
          crm-ui-id="inlayForm.threadsText"
          name="threadsText"
          ng-model="inlay.config.threadsText"
          class="crm-form-text"
          placeholder="{{ts('e.g. Hey everybody, do what I did.')}}"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.mastodonText', title: ts('Suggested Mastodon Text')}"
        ng-show="smActive('mastodon')"
      >
        <textarea
          crm-ui-id="inlayForm.mastodonText"
          name="mastodonText"
          ng-model="inlay.config.mastodonText"
          class="crm-form-text"
          placeholder="{{ts('e.g. Hey everybody, do what I did.')}}"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.linkedInText', title: ts('Suggested title for LinkedIn post')}"
        ng-show="smActive('linkedin')"
      >
        <textarea
          crm-ui-id="inlayForm.linkedInText"
          name="linkedInText"
          ng-model="inlay.config.linkedInText"
          class="crm-form-text"
          placeholder="{{ts('e.g. Useful information.')}}"
        ></textarea>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.shareEmailSubject', title: ts('Suggested email subject')}"
        ng-show="smActive('email')"
      >
        <textarea
          crm-ui-id="inlayForm.shareEmailSubject"
          name="shareEmailSubject"
          ng-model="inlay.config.shareEmailSubject"
          class="crm-form-text"
          placeholder="{{ts('Please join me in signing this petition')}}"
        ></textarea>
      </div>



    </div>

    <div crm-ui-accordion="{title: ts('Thanks page'), collapsed: true}">
      <div
        crm-ui-field="{name: 'inlayForm.finalHTML', title: ts('Thank you text')}"
      >
        <textarea
          crm-ui-id="inlayForm.finalHTML"
          crm-ui-richtext
          name="finalHTML"
          ng-model="inlay.config.finalHTML"
          class="crm-form-text"
        ></textarea>

        <p>
          If you chose the <em>Social Share, then on to Thanks</em> option, this
          text is the last text they see. You can use it to thank them and for
          final words like linking to a donation page.
        </p>

        <p>
          If you chose the
          <em>Thanks message, with skip link to end with Social Share</em>
          option, they will see this text straight after signing the petition,
          and a 'skip' link will be added taking them to the Social Share page.
          You can use this option to link to a donation page, for example, that
          some people might want to skip.
        </p>

        <p>
          If you chose the <em>Thanks message only</em> option, they will see
          this text straight after signing the petition and that is the end of
          the process for them.
        </p>
      </div>
    </div>

    <div crm-ui-accordion="{title: ts('Thank you email'), collapsed: true}">
      <div
        crm-ui-field="{name: 'inlayForm.thanksMsgTplID', title: ts('Thank you email')}"
      >
        <select
          crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
          ng-model="inlay.config.thanksMsgTplID"
          name="thanksMsgTplID"
          style="width: 100%"
        >
          <option value="">(do not send an email)</option>
          <option ng-repeat="g in messageTpls" value="{{g.id}}"
            >{{g.msg_title}}</option
          >
        </select>
      </div>

      <div
        crm-ui-field="{name: 'inlayForm.thanksEmailCustomHTML', title: ts('Customised thank you message.')}"
      >
        <textarea
          crm-ui-id="inlayForm.thanksEmailCustomHTML"
          crm-ui-richtext
          name="thanksEmailCustomHTML"
          ng-model="inlay.config.thanksEmailCustomHTML"
          class="crm-form-text"
        ></textarea>

        <p class="description">
          If the Thank you email you selected above contains
          <code>{$customThanksHTML}</code> then it will be replaced by what
          you enter here. This makes it easy to reuse a template across many
          petitions. The message template can also use
          <code>{$petitionNameHTML}</code> which will be swapped out for
          <em>{{inlay.config.publicTitle}}</em>
        </p>
      </div>
    </div>

    <div crm-ui-accordion="{title: ts('Processing'), collapsed: true}">
      <div
        crm-ui-field="{name: 'inlayForm.mailingGroup', title: ts('Mailing Group to add contact to (if they opt in)')}"
      >
        <select
          crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
          ng-model="inlay.config.mailingGroup"
          name="mailingGroup"
          style="width: 100%"
        >
          <option value="">(do not add them to a group)</option>
          <option ng-repeat="g in mailingGroups" value="{{g.id}}"
            >{{g.title}}</option
          >
        </select>
      </div>

      <div class="crm-section">
        <div class="label">
          <label crm-ui-for="inlayForm.useQueue">Use Queue</label>
        </div>
        <div class="content">
          <input
            type="checkbox"
            name="useQueue"
            crm-ui-id="inlayForm.useQueue"
            ng-model="inlay.config.useQueue"
          />
          <label crm-ui-for="inlayForm.useQueue"
            >Queue submissions instead of immediately processing them (very
            important on a busy site)</label
          >
          <p>
            Queued requests are processed by a scheduled job in the background.
            This can help avoid database deadlocks on really busy sites.
          </p>
        </div>
      </div>

      <div class="crm-section">
        <div class="label">
          <label crm-ui-for="inlayForm.allowVariations">Uses variations</label>
        </div>
        <div class="content">
          <input
            type="checkbox"
            name="useVariations"
            crm-ui-id="inlayForm.allowVariations"
            ng-model="inlay.config.allowVariations"
          />
          <label crm-ui-for="inlayForm.allowVariations"
            >Yes, custom variations are programmed into this petition</label
          >
          <p>
            Special use only: Do not tick this without accompanying specific
            administration/development work.
          </p>
        </div>
      </div>

      <div class="crm-section">
        <div class="label">
          <label crm-ui-for="inlayForm.css">Custom CSS</label>
        </div>
        <div class="content">
          <textarea
            name="css"
            crm-ui-id="inlayForm.css"
            ng-model="inlay.config.css"
          ></textarea>
          <p>Requires CSS skills. Use at your own risk.</p>
        </div>
      </div>

    </div>

    <div>
      <button ng-click="save('backToList')">{{ts('Save')}}</button>
      <button ng-click="save('preview')">{{ts('Save and Preview')}}</button>
    </div>

    <br><br>
    <div class=help>
      <p>
        <span ng-bind-html="ts('In CiviMail (or other contexts where tokens are allowed), you can append the following code to the URL of a page where you have placed this inlay. The links people receive will then be personalised to them so they can sign with a single click.')" ></span><br/>
        <code>#{contact.checksum}~cid={contact.contact_id}</code>
      </p>
      <p>
        <span ng-bind-html="ts('For example if your petition was at <code>https://example.org/our-petition</code> you would use<br><code>https://example.org/our-petition#{contact.checksum}~cid={contact.contact_id}</code>')"</span>
      </p>
    </div>
  </form>
</div>
